body {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #ffffff; /* Cor de fundo do body */
    color: #000000; /* Cor do texto */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.8); /* Fundo branco com transparência */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* Sombra do contêiner */
    position: relative; /* Permite posicionamento absoluto dos elementos internos */
}

.container::before {
    content: '';
    background-image: url('2.png'); /* Substitua pelo caminho da sua imagem */
    background-size: cover; /* Ajusta a imagem para cobrir o contêiner */
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Evita repetição da imagem */
    position: absolute; /* Para posicionar a imagem */
    top: 0; /* Começa do topo do contêiner */
    left: 0; /* Começa da esquerda do contêiner */
    width: 100%; /* Largura total do contêiner */
    height: 100%; /* Altura total do contêiner */
    opacity: 1; /* Define a opacidade da imagem */
    border-radius: 10px; /* Arredonda as bordas da imagem */
    z-index: 1; /* Coloca a imagem abaixo do conteúdo do contêiner */
}

h1, h2, p, ul, label {
    position: relative; /* Para garantir que o texto fique acima da imagem de fundo */
    z-index: 2; /* Z-index maior para o texto */
}

h1 {
    color: #000000;
}

h2 {
    margin-top: 20px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    color: #000000;
}

a:hover {
    text-decoration: underline;
}

button {
    background-color: #42a853; /* Cor do botão */
    color: rgb(0, 0, 0);
    border: 1px solid #000000; /* Borda do botão */
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s; /* Transição apenas para o tamanho */
    z-index: 2; /* Coloca o botão acima da imagem */
    position: relative; /* Necessário para o z-index funcionar */
}

button:hover {
    transform: scale(1.1); /* Aumenta o tamanho ao passar o mouse */
}

input {
    margin-bottom: 15px; /* Espaçamento abaixo da caixa de texto */
    z-index: 2; /* Coloca a caixa de texto acima da imagem */
    position: relative; /* Necessário para o z-index funcionar */
    width: calc(100% - 22px); /* Para se ajustar dentro do contêiner */
    padding: 10px;
    border: 1px solid #ccc; /* Borda da caixa de texto */
    border-radius: 5px; /* Bordas arredondadas */
}
